# SConfiguration file for our custom widget
<Connectivity>
  ConnectionType {{ connectionType }}
<Connectivity>
<Account Information>
  Usernale {{ userName }}
  password {{ userPassword}}
<Account Information>
<system Information>
  DistributionType {{ ansible_os_family }}
<system Information>
